<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="../../img/crm.png" />
  <link href="{{ asset( '../css/global.css' ) }}" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/204a798f93.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="{{ asset( '../lobicard/dist/css/lobicard.min.css' ) }}" />
  <link rel="stylesheet" href="{{ asset( '../css/animate.css' ) }}" />
  <script src="{{ asset( '../lobicard/lib/jquery/dist/jquery.min.js' ) }}"></script>
  <script src="{{ asset( '../lobicard/lib/jquery-ui/jquery-ui.min.js' ) }}"></script>
  <script src="{{ asset( '../lobicard/dist/js/lobicard.js' ) }}"></script>
  <script src="{{ asset( '../lobicard/lib/highlight.js/lib/highlight.js' ) }}"></script>
  <script src="{{ asset( '../js/exporttocsv/exporttocsv.js' ) }}"></script>
  <script>

    $(function () {

      $('#lobicard-multiple')
        .find('.card')
        .lobiCard({
          sortable: true,
          beforeTitleChange: function (lobiCard, title) {
            console.log("beforeTitleChange", arguments);
            if (!title) {
              return false;
            }
          }
        });
    });

  </script>
</head>

<body>
  {% block header %}

  <nav class="navbar navbar-dark fixed-top bg-danger flex-md-nowrap p-0 shadow" style="position: relative;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 ml-3" href="{{ url('homepage') }}"><img class="img-responsive"
        style="width:40px;" src="/img/crm.png"></a>
    <span class="text-white">Witaj {{ app.user.firstName }}</span>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">

        <a class="nav-link" href="{{ url('logout') }}"><i class="fas fa-sign-out-alt"></i> Sign out</a>
      </li>



    </ul>


  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar h-100 d-inline-block">
        <div class="sidebar-sticky mt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url('homepage') }}">
                <i class="fas fa-home h3"></i>
                <span class="ml-2">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url('lead_index') }}">
                <i class="fas fa-users h3"></i>
                <span class="ml-2">Klienci</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url('company_index') }}">
                <i class="fas fa-building h3"></i>
                <span class="ml-2">Firmy</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url('user_index') }}">
                <i class="fas fa-user-tie h3"></i>
                <span class="ml-3">Użytkownicy</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-md-10 mt-3">
        <div id="lobicard-multiple" class="animated zoomIn faster">

    

          {% endblock %}

          {% block body %}{% endblock %}

          {% block footer %}{% endblock %}

          {% block javascripts %}




          {% endblock %}
          </main>
        </div>
      </div>
</body>

</html>