{% extends 'base.html.twig' %}

{% block body %}
   
    <h3>Dodawanie nowego klienta </h3>

    <div class="sterowanie">
        <div id="podstawowe"><a href="#"> Dane podstawowe </a></div>
        <div id="dodatkowe"><a href="#">Dane dodatkowe </a></div>
        <div id="kontaktowe"><a href="#">Dane kontaktowe</a></div>
        <div id="wynagrodzeniu"><a href="#">Dane o wynagrodzeniu </a></div>
    </div>
    {{ form_start(form) }}
        <div id="container">
            <a href="#" class="przewijanie"></a>

            <fieldset id="podstaw">
                <legend>Dane podstawowe </legend>
                <div class="podst">
                    <label>
                        <p>Imię</p>
                        {{ form_widget(form.firstName) }}
                    </label>
                    <label>
                        <p>Nazwisko</p>
                        {{ form_widget(form.lastName) }}
                    </label>
                    <label>
                        <p>Pesel</p>
                        {{ form_widget(form.pin) }}
                    </label>
                </div>
                <div class="podst">
                    <label>
                        <p>Numer telefonu </p>
                        {{ form_widget(form.phoneNumber) }}
                    </label>
                    <label>
                        <p>Adres mailowy </p>
                        {{ form_widget(form.email) }}
                    </label>
                    <label>
                        <p>Aktywny? </p>
                        {{ form_widget(form.isActive) }}
                    </label><br><br>
                </div>
                <div id="not">
                    {{ form_widget(form.note) }}
                </div>

            </fieldset>

            <fieldset id="dodatk">
                <legend>Dane dodatkowe</legend>
                <div class="podst">
                    <label>
                        <p>Data urodzenia</p>
                        {{ form_widget(form.birthDate) }}
                    </label>
                    <label>
                        <p>Miejsce urodzenia </p>
                        {{ form_widget(form.birthPlace) }}
                    </label>
                </div>
                <div class="podst">
                    <label>
                        <p>Seria i numer dowodu osobistego </p>
                        {{ form_widget(form.idCard) }}
                    </label>
                    <label>
                        <p>Data ważności dowodu osobistego </p>
                        {{ form_widget(form.idCardExpirationDate) }}
                    </label>
                </div>
                <!--  -->
                <div class="podst">
                    <label>
                        <p>Imię ojca </p>
                        {{ form_widget(form.fatherFirstName) }}
                    </label>
                    <label>
                        <p>Imię matki </p>
                        {{ form_widget(form.motherFirstName) }}
                    </label>
                    <label>
                        <p>Nazwisko rodowe matki</p>
                        {{ form_widget(form.motherFamilySurname) }}
                    </label>
                    <label>
                        <p>Stan cywilny </p>
                        {{ form_widget(form.maritalStatus) }}
                    </label>
                </div>
                <div class="podst">
                    <label>
                        <p>Wykształcenie</p>
                        {{ form_widget(form.education) }}
                    </label>
                </div>
                <div class="podst">

                    <label>
                        <p>Branża w której pracuje </p>
                        {{ form_widget(form.workIndustry) }}
                    </label>
                    <label>
                        <p>Nazwa firmy </p>
                        {{ form_widget(form.companyName) }}
                    </label>
                    <label>
                        <p>Staż pracy w miesiącach</p>
                        {{ form_widget(form.workLengthExperience) }}
                    </label>
                </div>

            </fieldset>

            <fieldset id="kontakt">
                <legend>Dane kontaktowe</legend>
                <div class="podst">
                    <label>
                        <p>Adres zamieszkania (ulica i numer budynku)</p>
                        {{ form_widget(form.addressStreetAndNumber) }}
                    </label>
                </div>
                <div class="podst">
                    <label>
                        <p>Kod pocztowy </p>
                        {{ form_widget(form.addressPostCode) }}
                    </label>
                    <label>
                        <p>Miejscowość </p>
                        {{ form_widget(form.addressCity) }}
                    </label>
                    <label>
                        <p>Województwo </p>
                        {{ form_widget(form.voivodeship) }}
                    </label>
                    <label>
                        <p>Obywatelstwo </p>
                        {{ form_widget(form.nationality) }}
                    </label>
                </div>
                <div class="podst">
                    <label>
                        <p>Adres do Korespondencji (ulica i number budynku)</p>
                        {{ form_widget(form.correspondenceAddressStreetAndNumber) }}
                    </label>
                    <label>
                        <p>Kod pocztowy do Korespondencji</p>
                        {{ form_widget(form.correspondenceAddressPostCode) }}
                    </label>
                    <label>
                        <p>Miejscowość do Korespondencji</p>
                        {{ form_widget(form.correspondenceAddressCity) }}
                    </label>
                    <label>
                        <p>Województwo do Korespondencji</p>
                        {{ form_widget(form.correspondenceVoivodeship) }}
                    </label>
                    <label>
                        <p>Data od kiedy mieszka pod aktualnym adresem </p>
                        {{ form_widget(form.dateFromLivesAtCurrentAddress) }}
                    </label>
                </div>

            </fieldset>
            <fieldset id="wynagr">
                <legend>Dane o wynagrodzeniu</legend>
                <div class="podst">
                    <label>
                        <p>Wysokość wynagrodzeń stałych netto </p>
                        {{ form_widget(form.fixedSalaryNet) }}
                    </label>
                    <label>
                        <p>Szacowana wysokość wynagrodzeń doraźnych netto </p>
                        {{ form_widget(form.estimatedTimeSalaryNet) }}
                    </label>
                </div>
                <div class="podst">
                    <label>
                        <p>Ilość osób w gospodarstwie </p>
                        {{ form_widget(form.numberOfPeopleInTheHousehold) }}
                    </label><br><br>
                    <label for="bool">Czy jesteś jedynym żródłem dochodu dla gospodarstwa</label>
                    <select class="bool">
                        <option selected>Tak</option>
                        <option>Nie</option>
                    </select>
                    Jeśli nie to przychód całej rodziny:
                    {{ form_widget(form.totalFamilyIncome) }}
                </div>
                <div class="podst">
                    <label>
                        <p>Rodzaj umowy na jaką jest zatrudniony </p>
                        {{ form_widget(form.typeOfWorkContract) }}
                    </label>
                </div>
                <div class="podst">
                    <label>
                        <p>Data zawarcia umowy</p>
                        {{ form_widget(form.startWorkContractDate) }}
                    </label>
                    <label>
                        <p>Do kiedy obowiązuje </p>
                        {{ form_widget(form.endWorkContractDate) }}
                    </label><br><br>
                    <label for="bool">Czy ma zobowiązanie alimentowe</label>
                    {{ form_widget(form.alimony) }}
                    <label for="bool">Zobowiązanie alimentowe data od</label>
                    {{ form_widget(form.alimonyDateFrom) }}
                    <label for="bool">Zobowiązanie alimentowe data do</label>
                    {{ form_widget(form.alimonyDateTo) }}
                    <label for="bool">Wysokość zobowiązania</label>
                    {{ form_widget(form.alimonyAmount) }}
                </div>
                <div class="podst">

                    <label for="bool">Czy posiada kredyt</label>
                    <select class="bool">
                        <option>Tak</option>
                        <option selected>Nie</option>
                    </select>
                    <label for="bool">Czy Posiada Jakiś majątek</label>
                    <select class="bool">
                        <option>Tak</option>
                        <option selected>Nie</option>
                    </select>
                </div>
            </fieldset>

        </div>
    {{ form_end(form) }}

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset( '../css/dodawanieKlientaStyle.css' ) }}" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ asset('../js/jquery/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('../js/dodawanieKlienta.js') }}"></script>
{% endblock %}