{% extends 'base.html.twig' %}

{% block body %}

{% if edit is defined %}
<h3>Edycja klienta "{{lead.firstName}} {{lead.lastName}}"</h3>
{% else %}
<h3>Dodawanie nowego klienta </h3>
{% endif %}


<div class="container">

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <!-- Imię -->
                {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.firstName) }}
                <span class="text-danger" id="lead_firstName_error" style="display:none;">Imię musi posiadać co najmniej
                    2 litery.</span>

            </div>

            <div class="form-group">
                <!-- Nazwisko -->
                {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.lastName) }}
                <span class="text-danger" id="lead_lastName_error" style="display:none;">Nazwisko musi posiadać co
                    najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Pesel -->
                {{ form_label(form.pin, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.pin) }}
                <span class="text-danger" id="lead_pin_error" style="display:none;">Pesel musi posiadać dokładnie 11
                    liczb dodatnich.</span>
            </div>

            <div class="form-group">
                <!-- Numer telefonu-->
                {{ form_label(form.phoneNumber, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.phoneNumber) }}
                <span class="text-danger" id="lead_phoneNumber_error" style="display:none;">Numer telefonu musi posiadać
                    dokładnie 9 liczb dodatnich.</span>
            </div>

            <div class="form-group">
                <!-- Email-->
                {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.email) }}
                <span class="text-danger" id="lead_email_error" style="display:none;">Wpisz poprawny email (przykład
                    agata@interia.pl).</span>
            </div>

            <div class="form-group">
                <!-- Data Urodzenia -->
                {{ form_label(form.birthDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.birthDate) }}
                <span class="text-danger" id="lead_birthDate_error" style="display:none;">Wpisz poprawną datę
                    urodzenia(25.12.2000)</span>
            </div>

            <div class="form-group">
                <!-- Miejsce urodzenia -->
                {{ form_label(form.birthPlace, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.birthPlace) }}
                <span class="text-danger" id="lead_birthPlace_error" style="display:none;">Miejscowość musi posiadać co
                    najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Seria i numer dowodu osobistego -->
                {{ form_label(form.idCard, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.idCard) }}
                <span class="text-danger" id="lead_idCard_error" style="display:none;">Seria i numer dowodu osobistego
                    należy wprowadzić w formacie AAA 123456.</span>
            </div>

            <div class="form-group">
                <!-- Data ważności dowodu osobistego-->
                {{ form_label(form.idCardExpirationDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.idCardExpirationDate) }}
                <span class="text-danger" id="lead_idCardExpirationDate_error" style="display:none;">Wpisz poprawną
                    datę.</span>
                <span class="text-danger" id="lead_idCardExpirationDate_error" style="display:none;">Data nie może być
                    krótsza niż 10 dni ważności dokumentu.</span>
            </div>

            <div class="form-group">
                <!-- Imię ojca-->
                {{ form_label(form.fatherFirstName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.fatherFirstName) }}
                <span class="text-danger" id="lead_fatherFirstName_error" style="display:none;">Imię musi posiadać co
                    najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Imię matki-->
                {{ form_label(form.motherFirstName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.motherFirstName) }}
                <span class="text-danger" id="lead_motherFirstName_error" style="display:none;">Imię musi posiadać co
                    najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Nazwisko rodowe matki -->
                {{ form_label(form.motherFamilySurname, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.motherFamilySurname) }}
                <span class="text-danger" id="lead_motherFamilySurname_error" style="display:none;">Nazwisko musi
                    posiadać co najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Stan cywilny -->
                {{ form_label(form.maritalStatus, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.maritalStatus) }}
            </div>

            <div class="form-group">
                <!-- Wykształcenie -->
                {{ form_label(form.education, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.education) }}
            </div>

            <div class="form-group">
                <!-- Adres zamieszkania (ulica i numer budynku) -->
                {{ form_label(form.addressStreetAndNumber, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressStreetAndNumber) }}
                <span class="text-danger" id="lead_addressStreetAndNumber_error" style="display:none;">Wpisz poprawny
                    adres (przykład os.kalinowe 19/50).</span>
            </div>

            <div class="form-group">
                <!-- Kod pocztowy -->
                {{ form_label(form.addressPostCode, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressPostCode) }}
                <span class="text-danger" id="lead_addressPostCode_error" style="display:none;">Kod pocztowy trzeba
                    zapisac w formacie 01-123.</span>
            </div>

            <div class="form-group">
                <!-- Miejscowość -->
                {{ form_label(form.addressCity, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressCity) }}
                <span class="text-danger" id="lead_addressCity_error" style="display:none;">Miejscowość musi posiadać co
                    najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Województwo-->
                {{ form_label(form.voivodeship, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.voivodeship) }}
                <span class="text-danger" id="lead_voivodeship_error" style="display:none;">Województwo musi posiadać co
                    najmniej 4 litery.</span>
            </div>

            <div class="form-group">
                <!-- Obywatelstwo-->
                {{ form_label(form.nationality, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.nationality) }}
                <span class="text-danger" id="lead_nationality_error" style="display:none;">Obywatelstwo musi posiadać
                    co najmniej 2 litery.</span>
            </div>


        </div>



        <div class="col-md-6">

            <div class="form-group">
                <!-- Branża w której pracuje -->
                {{ form_label(form.workIndustry, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.workIndustry) }}
                <span class="text-danger" id="lead_workIndustry_error" style="display:none;">Nazwa branży musi mieć co
                    najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Nazwa firmy-->
                {{ form_label(form.companyName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.companyName) }}
                <span class="text-danger" id="lead_companyName_error" style="display:none;">Nazwa firmy musi mieć co
                    najmniej 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Staż pracy w miesiącach-->
                {{ form_label(form.workLengthExperience, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.workLengthExperience) }}
                <span class="text-danger" id="lead_workLengthExperience_error" style="display:none;">Staż pracy musi być
                    większy od 0.</span>
            </div>

            <div class="form-group">
                <!-- Wysokość wynagrodzeń stałych netto-->
                {{ form_label(form.fixedSalaryNet, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.fixedSalaryNet) }}
                <span class="text-danger" id="lead_fixedSalaryNet_error" style="display:none;">Wysokość wynagrodzenia
                    nie może być liczbą ujemną.</span>
            </div>

            <div class="form-group">
                <!-- Szacowana wysokość wynagrodzeń doraźnych netto-->
                {{ form_label(form.estimatedTimeSalaryNet, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.estimatedTimeSalaryNet) }}
                <span class="text-danger" id="lead_estimatedTimeSalaryNet_error" style="display:none;">Wysokość
                    wynagrodzenia nie może być liczbą ujemną.</span>
            </div>

            <div class="form-group">
                <!-- Ilość osób w gospodarstwie-->
                {{ form_label(form.numberOfPeopleInTheHousehold, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.numberOfPeopleInTheHousehold) }}
                <span class="text-danger" id="lead_numberOfPeopleInTheHousehold_error" style="display:none;">Ilość osób
                    w gospodarstwie musi być większa od 0.</span>
            </div>

            <div class="form-group">
                <!-- Przychód całego gospodarstwa domowego-->
                {{ form_label(form.totalFamilyIncome, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.totalFamilyIncome) }}<span class="text-danger" id="lead_totalFamilyIncome_error"
                    style="display:none;">Wysokość
                    wynagrodzenia nie może być liczbą ujemną.</span>
            </div>

            <div class="form-group">
                <!-- Rodzaj umowy na jaką jest zatrudniony-->
                {{ form_label(form.typeOfWorkContract, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.typeOfWorkContract) }}
                <span class="text-danger" id="lead_typeOfWorkContract_error" style="display:none;">Rodzaj umowy musi
                    mieć minimum 2 litery.</span>
            </div>

            <div class="form-group">
                <!-- Data zawarcia umowy-->
                {{ form_label(form.startWorkContractDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.startWorkContractDate) }}
                <span class="text-danger" id="lead_startWorkContractDate_error" style="display:none;">Wpisz poprawną
                    datę
                    (25.12.2000)</span>
            </div>

            <div class="form-group">
                <!-- Do kiedy obowiązuje-->
                {{ form_label(form.endWorkContractDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.endWorkContractDate) }}
                <span class="text-danger" id="lead_endWorkContractDate_error" style="display:none;">Wpisz poprawną datę
                    (25.12.2000)</span>
            </div>

            <div class="form-group">
                <!-- Czy ma zobowiązanie alimentowe-->
                {{ form_label(form.alimony, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.alimony) }}
            </div>
            <div id="alimonyform" style="display:none;">
                <div class="form-group">
                    <!-- Zobowiązanie alimentowe data od-->
                    {{ form_label(form.alimonyDateFrom, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.alimonyDateFrom) }}
                    <span class="text-danger" id="lead_alimonyDateFrom_error" style="display:none;">Wpisz poprawną datę
                        (25.12.2000)</span>
                </div>

                <div class="form-group">
                    <!-- Zobowiązanie alimentowe data do-->
                    {{ form_label(form.alimonyDateTo, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.alimonyDateTo) }}
                    <span class="text-danger" id="lead_alimonyDateTo_error" style="display:none;">Wpisz poprawną datę
                        (25.12.2000)</span>
                </div>

                <div class="form-group">
                    <!-- Wysokość zobowiązania-->
                    {{ form_label(form.alimonyAmount, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.alimonyAmount) }}
                    <span class="text-danger" id="lead_alimonyAmount_error" style="display:none;">Kwota zobowiązania
                        musi być wyższa od 0.</span>
                </div>
            </div>
            <label id="adresscoresp_form_label" for="adresscoresp_form">Jeżeli adres korespondencyjny jest inny niż
                zamieszkania</label>
            <input type="checkbox" id="adresscoresp_form">
            <div id="aderssCoresp" style="display:none;">

                <div class="form-group">
                    <!-- Adres do Korespondencji (ulica i number budynku)-->
                    {{ form_label(form.correspondenceAddressStreetAndNumber, null, {'label_attr': {'class': 'control-label'}})
                    }}
                    {{ form_widget(form.correspondenceAddressStreetAndNumber) }}
                    <span class="text-danger" id="lead_correspondenceAddressStreetAndNumber_error"
                        style="display:none;">Wpisz poprawny adres (przykład Prawnicza 30).</span>
                </div>

                <div class="form-group">
                    <!-- Kod pocztowy do Korespondencji-->
                    {{ form_label(form.correspondenceAddressPostCode, null, {'label_attr': {'class': 'control-label'}})
                    }}
                    {{ form_widget(form.correspondenceAddressPostCode) }}
                    <span class="text-danger" id="lead_correspondenceAddressPostCode_error" style="display:none;">Kod
                        pocztowy trzeba zapisac w formacie 01-123.</span>
                </div>

                <div class="form-group">
                    <!-- Miejscowość do Korespondencji-->
                    {{ form_label(form.correspondenceAddressCity, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.correspondenceAddressCity) }}
                    <span class="text-danger" id="lead_correspondenceAddressCity_error"
                        style="display:none;">Miejscowość
                        musi posiadać co najmniej 2 litery.</span>
                </div>

                <div class="form-group">
                    <!-- Województwo do Korespondencji-->
                    {{ form_label(form.correspondenceVoivodeship, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.correspondenceVoivodeship) }}
                    <span class="text-danger" id="lead_correspondenceVoivodeship_error"
                        style="display:none;">Województwo
                        musi posiadać co najmniej 4 litery.</span>
                </div>

                <div class="form-group">
                    <!-- Data od kiedy mieszka pod aktualnym adresem-->
                    {{ form_label(form.dateFromLivesAtCurrentAddress, null, {'label_attr': {'class': 'control-label'}})
                    }}
                    {{ form_widget(form.dateFromLivesAtCurrentAddress) }}
                    <span class="text-danger" id="lead_dateFromLivesAtCurrentAddress_error" style="display:none;">Wpisz
                        poprawną datę
                        (25.12.2000)</span>
                </div>
            </div>

            <div class="form-group">
                <!-- Aktywny?-->
                {{ form_label(form.isActive, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.isActive) }}
            </div>

            <div class="form-group">
                <!-- Notatka-->
                {{ form_label(form.note, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.note) }}
            </div>

            <div class="form-group">
                <!-- Submit Button -->
                {{ form_label(form.save, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.save) }}
            </div>

        </div>
        {{ form_end(form) }}
    </div>

    {% endblock %}

    {% block stylesheets %}
    <link href="{{ asset( '../css/newClient.css' ) }}" rel="stylesheet" type="text/css" />

    {% endblock %}


    {% block javascripts %}

    <script src="{{ asset('../js/global.js') }}"></script>
    <script src="{{ asset('../js/newClient.js') }}"></script>


    {% endblock %}