{% extends 'base.html.twig' %}

{% block body %}

{% if edit is defined %}
    <h3>Edycja klienta "{{lead.firstName}} {{lead.lastName}}"</h3>
{% else %}
    <h3>Dodawanie nowego klienta </h3>
{% endif %}


<div class="container">

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <!-- Imię -->
                {{ form_label(form.firstName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.firstName) }}
            </div>

            <div class="form-group">
                <!-- Nazwisko -->
                {{ form_label(form.lastName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.lastName) }}

            </div>

            <div class="form-group">
                <!-- Pesel -->
                {{ form_label(form.pin, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.pin) }}
            </div>

            <div class="form-group">
                <!-- Numer telefonu-->
                {{ form_label(form.phoneNumber, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.phoneNumber) }}
            </div>

            <div class="form-group">
                <!-- Email-->
                {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group">
                <!-- Data Urodzenia -->
                {{ form_label(form.birthDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.birthDate) }}
            </div>

            <div class="form-group">
                <!-- Miejsce urodzenia -->
                {{ form_label(form.birthPlace, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.birthPlace) }}
            </div>

            <div class="form-group">
                <!-- Seria i numer dowodu osobistego -->
                {{ form_label(form.idCard, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.idCard) }}
            </div>

            <div class="form-group">
                <!-- Data ważności dowodu osobistego-->
                {{ form_label(form.idCardExpirationDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.idCardExpirationDate) }}
            </div>

            <div class="form-group">
                <!-- Imię ojca-->
                {{ form_label(form.fatherFirstName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.fatherFirstName) }}
            </div>

            <div class="form-group">
                <!-- Imię matki-->
                {{ form_label(form.motherFirstName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.motherFirstName) }}
            </div>

            <div class="form-group">
                <!-- Nazwisko rodowe matki -->
                {{ form_label(form.motherFamilySurname, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.motherFamilySurname) }}
            </div>

            <div class="form-group">
                <!-- Stan cywilny -->
                {{ form_label(form.maritalStatus, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.maritalStatus) }}
            </div>

            <div class="form-group">
                <!-- Wykształcenie -->
                {{ form_label(form.education, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.education) }}
            </div>

            <div class="form-group">
                <!-- Adres zamieszkania (ulica i numer budynku) -->
                {{ form_label(form.addressStreetAndNumber, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressStreetAndNumber) }}
            </div>

            <div class="form-group">
                <!-- Kod pocztowy -->
                {{ form_label(form.addressPostCode, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressPostCode) }}
            </div>

            <div class="form-group">
                <!-- Miejscowość -->
                {{ form_label(form.addressCity, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.addressCity) }}
            </div>

            <div class="form-group">
                <!-- Województwo-->
                {{ form_label(form.voivodeship, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.voivodeship) }}
            </div>

            <div class="form-group">
                <!-- Obywatelstwo-->
                {{ form_label(form.nationality, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.nationality) }}
            </div>

            <div class="form-group">
                <!-- Adres do Korespondencji (ulica i number budynku)-->
                {{ form_label(form.correspondenceAddressStreetAndNumber, null, {'label_attr': {'class': 'control-label'}})
                }}
                {{ form_widget(form.correspondenceAddressStreetAndNumber) }}
            </div>

            <div class="form-group">
                <!-- Kod pocztowy do Korespondencji-->
                {{ form_label(form.correspondenceAddressPostCode, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.correspondenceAddressPostCode) }}
            </div>

            <div class="form-group">
                <!-- Miejscowość do Korespondencji-->
                {{ form_label(form.correspondenceAddressCity, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.correspondenceAddressCity) }}
            </div>

            <div class="form-group">
                <!-- Województwo do Korespondencji-->
                {{ form_label(form.correspondenceVoivodeship, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.correspondenceVoivodeship) }}
            </div>

            <div class="form-group">
                <!-- Data od kiedy mieszka pod aktualnym adresem-->
                {{ form_label(form.dateFromLivesAtCurrentAddress, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.dateFromLivesAtCurrentAddress) }}
            </div>

        </div>



        <div class="col-md-6">

            <div class="form-group">
                <!-- Branża w której pracuje -->
                {{ form_label(form.workIndustry, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.workIndustry) }}
            </div>

            <div class="form-group">
                <!-- Nazwa firmy-->
                {{ form_label(form.companyName, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.companyName) }}
            </div>

            <div class="form-group">
                <!-- Staż pracy w miesiącach-->
                {{ form_label(form.workLengthExperience, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.workLengthExperience) }}
            </div>

            <div class="form-group">
                <!-- Wysokość wynagrodzeń stałych netto-->
                {{ form_label(form.fixedSalaryNet, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.fixedSalaryNet) }}
            </div>

            <div class="form-group">
                <!-- Szacowana wysokość wynagrodzeń doraźnych netto-->
                {{ form_label(form.estimatedTimeSalaryNet, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.estimatedTimeSalaryNet) }}
            </div>

            <div class="form-group">
                <!-- Ilość osób w gospodarstwie-->
                {{ form_label(form.numberOfPeopleInTheHousehold, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.numberOfPeopleInTheHousehold) }}
            </div>

            <div class="form-group">
                <!-- Czy jesteś jedynym żródłem dochodu dla gospodarstwa-->
                {{ form_label(form.totalFamilyIncome, null, {'label_attr': {'class': 'control-label'}}) }}
                <!-- ??????? 
    
                        <label for="bool">Czy jesteś jedynym żródłem dochodu dla gospodarstwa</label>
                        <select class="bool">
                            <option selected>Tak</option>
                            <option>Nie</option>
                        </select>-->
                Jeśli nie to przychód całej rodziny:
                {{ form_widget(form.totalFamilyIncome) }}
            </div>

            <div class="form-group">
                <!-- Rodzaj umowy na jaką jest zatrudniony-->
                {{ form_label(form.typeOfWorkContract, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.typeOfWorkContract) }}
            </div>

            <div class="form-group">
                <!-- Data zawarcia umowy-->
                {{ form_label(form.startWorkContractDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.startWorkContractDate) }}
            </div>

            <div class="form-group">
                <!-- Do kiedy obowiązuje-->
                {{ form_label(form.endWorkContractDate, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.endWorkContractDate) }}
            </div>

            <div class="form-group">
                <!-- Czy ma zobowiązanie alimentowe-->
                {{ form_label(form.alimony, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.alimony) }}
            </div>

            <div class="form-group">
                <!-- Zobowiązanie alimentowe data od-->
                {{ form_label(form.alimonyDateFrom, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.alimonyDateFrom) }}
            </div>

            <div class="form-group">
                <!-- Zobowiązanie alimentowe data do-->
                {{ form_label(form.alimonyDateTo, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.alimonyDateTo) }}
            </div>

            <div class="form-group">
                <!-- Wysokość zobowiązania-->
                {{ form_label(form.alimonyAmount, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.alimonyAmount) }}
            </div>

            <div class="form-group">
                <!-- Aktywny?-->
                {{ form_label(form.isActive, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.isActive) }}
            </div>

            <div class="form-group">
                <!-- Notatka-->
                {{ form_label(form.note, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.note) }}
            </div>

            <div class="form-group">
                <!-- Submit Button -->
                {{ form_label(form.save, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.save) }}
            </div>

        </div>
        {{ form_end(form) }}
    </div>

    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/204a798f93.js"></script>


    {% endblock %}