{% extends 'base.html.twig' %}

{% block body %}


<button type="button" class="btn btn-danger btn-sm mb-2"><a class="text-white"
        href="{{ url('wealth_new', {id: lead.id}) }}">Dodaj nowy majątek</a></button>

<div>
    Majątek:
</div>
<br>
<div class="table-responsive">
    <table class="table table-striped" style="font-size:12px;">
        <thead>
            <tr>
                <th style="width:100px;">Liczba<br />({{ wealths|length }})</th>
                <th style="width:150px;">Rodzaj majątku</th>
                <th style="width:150px;">Szacowana wartość</th>
                <th style="width:150px;">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for wealth in wealths %}
            <tr class="{{wealth.id}}-row">
                <th scope="row">
                    {{ loop.index + (page - 1 ) * perPage }}
                </th>
                <td>
                    {{wealth.type}}
                </td>
                <td>
                    {{wealth.estimatedValuation}}
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger btn-sm"><a class="text-white"
                                href="{{ url('wealth_edit', {leadId: lead.id, wealthId: wealth.id}) }}">Edytuj</a></button>
                        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                                href="{{ url('wealth_remove', {leadId: lead.id, wealthId: wealth.id}) }}">Usuń</a>
                        </div>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block stylesheets %}

    {% endblock %}