{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ url('shares_new', {id: lead.id}) }}">Dodaj nowe akcje</a>
    <div>
        Akcje:
    </div>
    <br>

    <table id="" class="">
        <thead>
            <tr>
                <th style="width:100px;">Liczba<br />({{ shares|length }})</th>
                <th style="width:150px;">Nazwa i rodzaj</th>
                <th style="width:150px;">Ilość</th>
                <th style="width:150px;">Wartość</th>
                <th style="width:150px;">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for share in shares %}
                <tr class="{{share.id}}-row">
                    <td>
                        {{ loop.index + (page - 1 ) * perPage }}
                    </td>
                    <td>
                        {{share.nameAndType}}
                    </td>
                    <td>
                        {{share.numberOfSharesHeld}}
                    </td>
                    <td>
                        {{share.value}}
                    </td>
                    <td>
                        <a href="{{ url('shares_edit', {leadId: lead.id, sharesId: share.id}) }}">Edytuj</a>
                        <a href="{{ url('shares_remove', {leadId: lead.id, sharesId: share.id}) }}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}
    
{% endblock %}
