{% extends 'base.html.twig' %}

{% block body %}

{% if edit is defined %}
    <h3>Edycja majątku wycenionego przez rzeczoznawcę </h3>
{% else %}
    <h3>Dodawanie nowego majątku wycenionego przez rzeczoznawcę </h3>
{% endif %}

<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <!-- Rodzaj majątku -->
                {{ form_label(form.type, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.type) }}
                <span class="text-danger" id="wealth_by_appraiser_type_error" style="display:none;">Rodzaj majątku musi
                    posiadać co najmniej 2 litery.</span>
            </div>
            <div class="form-group">
                <!-- Szacowana wartość -->
                {{ form_label(form.estimatedValuation, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.estimatedValuation, { 'type':'number' }) }}
                <span class="text-danger" id="wealth_by_appraiser_estimatedValuation_error"
                    style="display:none;">Wartość musi być większa od 0.</span>
            </div>
            <div class="form-group">
                <!-- Submit Button -->
                {{ form_label(form.save, null, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.save) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block javascripts %}

<script src="{{ asset('../js/global.js') }}"></script>
<script src="{{ asset('../js/newWealthByAppraiser.js') }}"></script>

{% endblock %}